---
# Provide front matter so Jekyll processes this file as SASS.
---

// Put your custom CSS here if you want to override the defaults.
// Here are some common customizations for colors

// Customize the background color
body {
  // background-color: #f2f2f2;;
}

// Customize the menubar color
.ui.menu {
  // background: $background-start;
}

// Customize the home page icon colors
.icon-color {
  // color: silver;
}

.ran_col_interest:nth-child(even){
  color: #5d5d5d; 
}
.ran_col_interest:nth-child(odd){
  color: #a9a9a9; 
}

.lesser{
  background:   repeating-linear-gradient(     45deg,     transparent,     transparent 10px,     #d6d6d6 10px,     #cecece 20px   ),   /* on "bottom" */   linear-gradient(     to bottom,     #dadada,     #dadada   ) !important;
  // color: 
}

.cert{
  display: inline-block;
}

.cert-box{
  display: inline-block !important; 
  border: 2px black dashed;
  background-color: papayawhip;

  margin-right: 15px !important;
  margin-bottom: 4px !important;

  // width: 270px;
  width: 24%;
}

.badge{
  position: absolute;
  top: 4px;
  width: 15px;
  background-color: #fbc56f;
  height: 30px;
  border-radius: 0 30px 30px 0px;
  -webkit-transform: rotate(-35deg);
  z-index: 2;

  right: 12px;
}
.badge:after {
  content: "";
  position: absolute;
  left: -15px;
  top: 0;
  width: 15px;
  background-color: #fab84a;
  height: 30px;
  border-radius: 0 30px 30px 0px;
  -webkit-transform: rotate(180deg);
  z-index: 2;
}

.low.badge{
  background-color: #b57b1f;
}
.low.badge:after {
  background-color: #6f4d13;
}

.medium.badge{
  background-color: #e0e0e0;
}
.medium.badge:after {
  background-color: #bdbdbd;
}

.titletext{
  max-width: 100%;
  padding-right: 32px;
  margin-bottom: 14px !important;
}