---
layout: characters
---

<script>
    $(document).ready(function(){
      var width = $(window).width();
      var height = $(window).height();

      $('#iframepdf').attr('style', 'width: 100%; height: ' + height + 'px;');
    });
</script>

<div style="margin-top: 20px; margin-bottom: 20px" class="ui text container">
  <h1 style="text-align: center;"  >{{ page.title }}</h1>

  <div style="text-align: center;" class="image" >
    <img src="{{ site.baseurl }}/{{ page.image }}" style="max-height: 200px">
  </div>

  <div style="text-align: center;"  class="date">[Level {{ page.level }}] {{ page.race }} {{ page.class }}</div>
  <hr>
  {{ content }}

  {% if page.pdf %}
  <h2>Character Sheet</h2>
  <iframe id="iframepdf" style="width:100%;" src="{{ site.baseurl }}/{{page.pdf}}#view=fit"></iframe>
  {% endif %}
</div>