---
layout: default
---

{% include menubar.html active="character" %}

<script>
    $(function(){
        arr = [
                "Resting",
                "In-Game",
                "Backup",
                "Numenera",
                "GURPS",
                "DnD 5E",
                "Backup"
            ]
        // Each button should hide all others.
        for (var field in arr){
            btn = $('body').find("input[value='"+arr[field]+"']")          
            btn.click(function(){
                field = $(this).attr("value")
                for (var f2 in arr){
                    console.log(field, f2, arr)
                    
                    if (arr[f2] == field){
                        // only check the first name
                        formatted = arr[f2].split(" ")[0]
                        $("."+formatted).show()
                    }else{
                        console.log("Hide: ", arr[f2])
                        $("."+arr[f2]).hide()
                    }
                }
                console.log("End")
            })
        }
        // Reset
        btn = $('body').find("input[value='Clear']")
        btn.click(function(){
            for (var field in arr){
                $("."+arr[field]).show()
            }
        })

    })
</script>
<style>
    /* #Orange Flat Button
    ==================================================
    From: http://cssdeck.com/labs/beautiful-flat-buttons
    */
    .active-flat-button {
        max-width: 120px  !important;
        max-height: 36px !important;
        position: relative;
        vertical-align: top;
        width: 100%;
        height: 60px;
        padding: 0;
        font-size: 22px;
        color: white;
        text-align: center;
        text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
        background: #f39c12;
        border: 0;
        border-bottom: 2px solid #e8930c;
        cursor: pointer;
        -webkit-box-shadow: inset 0 -2px #e8930c;
        box-shadow: inset 0 -2px #e8930c;
        margin-bottom: 15px;
    }
    
    /* #Clouds Flat Button
    ==================================================*/
    .inactive-flat-button {
        max-width: 120px  !important;
        max-height: 36px !important;
        position: relative;
        vertical-align: top;
        width: 100%;
        height: 60px;
        padding: 0;
        font-size: 22px;
        color:#454545;
        text-align: center;
        text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
        background: #bdc3c7;
        border: 0;
        border-bottom: 2px solid #acb2b7;
        cursor: pointer;
        -webkit-box-shadow: inset 0 -2px #acb2b7;
        box-shadow: inset 0 -2px #acb2b7;
        margin-bottom: 15px;
    }
    .filter-title{
        position: relative;
        top: 5px;
        display:inline-block
    }
</style>

<div style="text-align: center">
    <h2>Filters</h2>

    <div>
        <h3 class="filter-title">Availability:</h3>
        <input type="submit" class="inactive-flat-button" value="In-Game" />
        <input type="submit" class="inactive-flat-button" value="Resting" />
        <input type="submit" class="inactive-flat-button" value="Backup" />
    </div>        
    <div>
        <h3 class="filter-title">System:</h3>
        <input type="submit" class="inactive-flat-button" value="DnD 5E" />
        <input type="submit" class="inactive-flat-button" value="Numenera" />
        <input type="submit" class="inactive-flat-button" value="GURPS" />
    </div>        
    <input type="submit" class="active-flat-button" value="Clear" />

</div>

{{ content }}

